<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Owner</title>

     <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor.bundle.base.css') }}?v=0.0.1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/select2.min.css') }}?v=0.0.1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/select2-bootstrap.min.css') }}?v=0.0.1">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}?v=0.0.2">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">



  </head>
  <body>
    <div class="container-scroller">
      <div class="">
       
        <nav class="navbar col-lg-12 col-12 p-lg-0 fixed-top d-flex flex-row">
          <div class="navbar-menu-wrapper d-flex align-items-stretch justify-content-between">
            <a class="navbar-brand brand-logo align-self-center d-lg-none" href="../../index.html"><img src="../../assets/images/logo.svg" alt="logo" /></a>
            <button class="navbar-toggler navbar-toggler align-self-center mr-2" type="button" data-toggle="minimize">
              <i class="mdi mdi-menu"></i>
            </button>
            <ul class="navbar-nav">
             

              
            </ul>

            <ul class="navbar-nav navbar-nav-right ml-lg-auto">
              <li class="nav-item">
                <a class="nav-link" onclick="scrolltodiv('userinfo')">
                  <span class="profile-name">Users</span>
                </a>
                
              </li>

              <li class="nav-item">
                <a class="nav-link" onclick="scrolltodiv('employeeinfo')">
                  <span class="profile-name">Employees</span>
                </a>
                
              </li>

               <li class="nav-item">
                <a class="nav-link" onclick="scrolltodiv('supplierinfo')">
                  <span class="profile-name">Suppliers</span>
                </a>
                
              </li>

               <li class="nav-item">
                <a class="nav-link" onclick="scrolltodiv('productinfo')">
                  <span class="profile-name">Products</span>
                </a>
              </li>


        
              <li class="nav-item nav-profile dropdown border-0">
                <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown">
                  <img class="nav-profile-img mr-2" alt="" src="../../assets/images/faces/face1.jpg" />
                  <span class="profile-name">Owner</span>
                </a>
                <div class="dropdown-menu navbar-dropdown w-100" aria-labelledby="profileDropdown">
                  <a class="dropdown-item" href="/logout">
                    <i class="mdi mdi-logout mr-2 text-primary"></i> Signout </a>
                </div>
              </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-menu"></span>
            </button>
          </div>
        </nav>
        <div class="main-panel">
          <div class="content-wrapper" >
            <div class="page-header" id="pageheader">
              <h3 class="page-title">Welcome To Your Store</h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Store Administration</a></li>
                  <li class="breadcrumb-item active" aria-current="page"> Add / Delete / Update Information</li>
                </ol>
              </nav>
            </div>


            <div class="row" style="overflow-y: scroll;height: 100vh;" id="infocontainer">
              <div class="col-md-12" id="userinfo">
                <div class="row">

                  <div class="col-md-4 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body">
                        <h4 class="card-title">Users Information</h4>
                        <hr>
                        <p class="card-description">Add User</p>
                       <!--  <p id="userlog" style="color: red">{{session['erroruser']}}</p>
                         <p id="usersuc" style="color: green">{{session['successuser']}}</p> -->
                        <form class="forms-sample">
                          <div class="form-group">
                            <label for="exampleInputUsername1">Username</label>
                            <input type="text" class="form-control" id="username" placeholder="Username" value="" />
                          </div>
                          <div class="form-group">
                            <label for="exampleInputEmail1">password</label>
                            <input type="password" class="form-control" id="password" placeholder="password" value=""/>
                          </div>
                          <div class="form-group">
                            <label for="exampleInputConfirmPassword1">Confirm Password</label>
                            <input type="password" class="form-control" id="confirm" placeholder="Password" value=""/>
                          </div>

                          <div class="form-group">
                            <label for="exampleInputPassword1">role</label>
                            <input type="text" class="form-control" id="role" placeholder="role" value=""/>
                          </div>
                          
                          <button type="button" class="btn btn-primary mr-2" onclick="addUser()">Add</button>

                        </form>
                      </div>
                    </div>
                  </div>

                   <div class="col-md-8 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body">
                        <h4 class="card-title">User Information</h4>
                        <hr>
                        <p class="card-description">All Users : </p>
                        <table class="table">
                          <thead class="thead-dark">
                            <tr>
                              <th scope="col">Username</th>
                              <th scope="col">Password</th>
                              <th scope="col">Role</th>
                              
                            </tr>
                          </thead>
                          <tbody>
                           
                            {% for user in users %}
                                <tr>
                                  <td>{{user.username}}</td>
                                  <td>{{user.password}}</td>
                                  <td>{{user.role}}</td>
                                  <td><input type="button" class="btn btn-primary" value="Delete"></td>
                                </tr>
                            {% endfor %} 
                           
                           
                            
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

               <div class="col-md-12" id="employeeinfo">
                <div class="row">
                  <div class="col-md-4 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body">
                        <h4 class="card-title">Employee Information</h4>
                        <hr>
                        <p class="card-description">Add Employee</p>
                        <form class="forms-sample">
                          <div class="form-group row">
                            <label for="exampleInputUsername2" class="col-sm-6 col-form-label">Username</label>
                            <div class="col-sm-6">

                             <select id="authenticationid" class="form-control">
                                <option value="" selected="selected">Select a Username</option>
                               {% for user in users %}
                                    <option value="{{user.authenticationid}}">{{user.username}}</option>
                                {% endfor %} 
                             </select>
                            </div>
                          </div>

                         <div class="form-group row">
                            <label for="exampleInputEmail2" class="col-sm-6 col-form-label">Employee Name</label>
                            <div class="col-sm-6">
                              <input type="text" class="form-control" id="employeename" placeholder="Employee Name" />
                            </div>
                          </div>

                         <div class="form-group row">
                            <label for="exampleInputEmail2" class="col-sm-6 col-form-label">Email</label>
                            <div class="col-sm-6">
                              <input type="email" class="form-control" id="email" placeholder="Email" />
                            </div>
                          </div>

                          <div class="form-group row">
                            <label for="exampleInputEmail2" class="col-sm-6 col-form-label">Phone Number</label>
                            <div class="col-sm-6">
                              <input type="text" class="form-control" id="phonenumber" placeholder="Phone Number" />
                            </div>
                          </div>

                          <div class="form-group row">
                            <label for="exampleInputEmail2" class="col-sm-6 col-form-label">Address</label>
                            <div class="col-sm-6">
                              <input type="text" class="form-control" id="address" placeholder="Address" />
                            </div>
                          </div>

                          <div class="form-group row">
                            <label for="exampleInputEmail2" class="col-sm-6 col-form-label">Location</label>
                            <div class="col-sm-6">
                              <input type="text" class="form-control" id="location" placeholder="Location" />
                            </div>
                          </div>

                          <div class="form-group row">
                            <label for="exampleInputEmail2" class="col-sm-6 col-form-label">Date of Birth</label>
                            <div class="col-sm-6">
                              <input type="date" class="form-control" id="dob" placeholder="Date of Birth" />
                            </div>
                          </div>

                          <div class="form-group row">
                            <label for="exampleInputEmail2" class="col-sm-6 col-form-label">Category</label>
                            <div class="col-sm-6">
                              <select id="category" class="form-control">
                                <option value="manager">Manager</option>
                                <option value="staff">Staff</option>
                              </select>
                            </div>
                          </div>

                          <button type="button" class="btn btn-primary mr-2" onclick="addEmployee()"> Add</button>
                          
                        </form>
                      </div>
                    </div>
                  </div>


                   <div class="col-md-8 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body">

                        <h4 class="card-title">Employee Information</h4>
                        <hr>
                        <p class="card-description">All Employees : </p>

                        <table class="table">
                          <thead class="thead-dark">
                            <tr>
                              <th scope="col">Username</th>
                              <th scope="col">Name</th>
                              <th scope="col">Email</th>
                              <th scope="col">Phone Number</th>
                              
                              <th scope="col">Address</th>
                              <th scope="col">Location</th>
                              
                            </tr>
                          </thead>

                          <tbody>

                            {% for employee in employees %}
                                <tr>
                                {% for user in allusers %}
                                  {% if employee.authenticationid.authenticationid | int ==user.authenticationid | int%}
                                      <td>{{user.username}}</td>
                                  {% else %}
                                      {{ pass }}
                                  {% endif %}
                                {% endfor %} 
                                
                                  <td>{{employee.employeename}}</td>
                                  <td>{{employee.email}}</td>
                                  <td>{{employee.phonenumber}}</td>
                                  <td>{{employee.address}}</td>
                                  <td>{{employee.location}}</td>

                                  <td><input type="button" class="btn btn-primary" value="Delete"></td>
                                </tr>
                            {% endfor %} 
                            
                           
                            
                          </tbody>
                        </table>

                      </div>
                    </div>
                  </div>
                </div>
              </div>

               <div class="col-md-12" id="supplierinfo">
                <div class="row">
                  <div class="col-md-4 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body">
                        <h4 class="card-title">Supplier Information</h4>
                        <hr>
                        <p class="card-description">Add Supplier</p>
                        <form class="forms-sample">
                          <div class="form-group row">
                            <label for="exampleInputUsername2" class="col-sm-6 col-form-label">Username</label>
                            <div class="col-sm-6">
                             <select id="supplierauthenticationid" class="form-control">
                              <option value="" selected="selected">Select a Username</option>
                               {% for user in users %}
                                    <option value="{{user.authenticationid}}">{{user.username}}</option>
                                {% endfor %} 
                             </select>
                            </div>
                          </div>

                         <div class="form-group row">
                            <label for="exampleInputEmail2" class="col-sm-6 col-form-label">Supplier Name</label>
                            <div class="col-sm-6">
                              <input type="text" class="form-control" id="suppliername" placeholder="Employee Name" />
                            </div>
                          </div>

                         <div class="form-group row">
                            <label for="exampleInputEmail2" class="col-sm-6 col-form-label">Email</label>
                            <div class="col-sm-6">
                              <input type="email" class="form-control" id="supplieremail" placeholder="Email" />
                            </div>
                          </div>

                          <div class="form-group row">
                            <label for="exampleInputEmail2" class="col-sm-6 col-form-label">Phone Number</label>
                            <div class="col-sm-6">
                              <input type="text" class="form-control" id="supplierphonenumber" placeholder="Phone Number" />
                            </div>
                          </div>

                          <div class="form-group row">
                            <label for="exampleInputEmail2" class="col-sm-6 col-form-label">Address</label>
                            <div class="col-sm-6">
                              <input type="text" class="form-control" id="supplieraddress" placeholder="Address" />
                            </div>
                          </div>

                          <div class="form-group row">
                            <label for="exampleInputEmail2" class="col-sm-6 col-form-label">Location</label>
                            <div class="col-sm-6">
                              <input type="text" class="form-control" id="supplierlocation" placeholder="Location" />
                            </div>
                          </div>

                          <button type="button" class="btn btn-primary mr-2" onclick="addSupplier()"> Add</button>
                          
                        </form>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-8 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body">

                        <h4 class="card-title">Supplier Information</h4>
                        <hr>
                        <p class="card-description">All Suppliers : </p>

                        <table class="table">
                          <thead class="thead-dark">
                            <tr>
                              <th scope="col">Name</th>
                              <th scope="col">Email</th>
                              <th scope="col">Phone Number</th>
                              <th scope="col">Address</th>
                              <th scope="col">Location</th>
                              
                            </tr>
                          </thead>

                          <tbody>

                            {% for supplier in suppliers %}
                                <tr>
                                  <td>{{supplier.supplierName}}</td>
                                  <td>{{supplier.email}}</td>
                                  <td>{{supplier.phonenumber}}</td>
                                  <td>{{supplier.address}}</td>
                                  <td>{{supplier.location}}</td>
                                  <td><input type="button" class="btn btn-primary" value="Delete"></td>
                                </tr>
                            {% endfor %} 
                            
                           
                            
                          </tbody>
                        </table>

                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="col-md-12" id="productinfo">
                <div class="row">
                  <div class="col-md-4 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body">
                        <h4 class="card-title">Product Information</h4>
                        <hr>
                        <p class="card-description">Add Product</p>
                        <form class="forms-sample">


                         <div class="form-group row">
                            <label for="exampleInputEmail2" class="col-sm-6 col-form-label">Product Name</label>
                            <div class="col-sm-6">
                              <input type="text" class="form-control" id="productname" placeholder="Product Name" />
                            </div>
                          </div>

                          <div class="form-group row">
                            <label for="exampleInputEmail2" class="col-sm-6 col-form-label">Description</label>
                            <div class="col-sm-6">
                              <input type="text" class="form-control" id="description" placeholder="Descriptions" />
                            </div>
                          </div>

                          <div class="form-group row">
                            <label for="exampleInputEmail2" class="col-sm-6 col-form-label">Category</label>
                            <div class="col-sm-6">
                              <input type="text" class="form-control" id="category" placeholder="Category" />
                            </div>
                          </div>

                          <div class="form-group row">
                            <label for="exampleInputEmail2" class="col-sm-6 col-form-label">Retail Unit Price</label>
                            <div class="col-sm-6">
                              <input type="text" class="form-control" id="retailunitprice" placeholder="Retail Unit Price" />
                            </div>
                          </div>

                          <button type="button" class="btn btn-primary mr-2" onclick="addProduct()"> Add</button>
                          
                        </form>
                      </div>
                    </div>
                  </div>

                   <div class="col-md-8 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body">

                        <h4 class="card-title">Product Information</h4>
                        <hr>
                        <p class="card-description">All Products : </p>

                        <table class="table">
                          <thead class="thead-dark">
                            <tr>
                              <th scope="col">Name</th>
                              <th scope="col">Description</th>
                              <th scope="col">Category</th>
                              <th scope="col">Retail Price</th>
                            </tr>
                          </thead>

                          <tbody>

                            {% for product in products %}
                                <tr>
                                  <td>{{product.productName}}</td>
                                  <td>{{product.description}}</td>
                                  <td>{{product.category}}</td>
                                  <td>{{product.retailunitprice}}</td>
                        
                                  <td><input type="button" class="btn btn-primary" value="Delete"></td>
                                </tr>
                            {% endfor %} 
                            
                           
                            
                          </tbody>
                        </table>

                      </div>
                    </div>
                  </div>
                </div>
              </div>



             
              
            </div>
          </div>
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © Retail Store 2023</span>
            </div>
          </footer>
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    

    <script src="{{ url_for('static', filename='js/vendor.bundle.base.js') }}?v=0.0.1"></script>
    <script src="{{ url_for('static', filename='js/select2.min.js') }}?v=0.0.1"></script>

    <script>
       function scrolltodiv(divid){
          var headerposition=document.getElementById('pageheader').offsetTop;
          document.getElementById('infocontainer').scrollTop = document.getElementById(divid).offsetTop-headerposition-100;
        }

      function callapi(method,url,jsondata,origin){
          var result=""

          const xhttpr = new XMLHttpRequest();
          xhttpr.open(method,url, true);

          if(method=="GET"){
            xhttpr.send();
          }else{
            xhttpr.setRequestHeader("Content-Type", "application/json");

            xhttpr.send(jsondata);
          }

          xhttpr.onreadystatechange = () => {
            if(xhttpr.status===200 && xhttpr.readyState === XMLHttpRequest.DONE){
              if(origin=='owner'){
                  result=xhttpr.response
                  console.log(result)
                  window.location.href='/owner'
              }else if(role=='manager'){
                    window.location.href='/manager'
              }else if(role=='supplier'){
                    window.location.href='/supplier'
              }else if(role=='employee'){
                    window.location.href='/employee'
              }else if(role=='customer'){
                 window.location.href='/customer'
              }

            }
          }

          return result
        }



        function addUser(){
          //capture the username and password
          var username=document.getElementById('username').value;
          var password=document.getElementById('password').value;
          var confirm=document.getElementById('confirm').value;
          var role=document.getElementById('role').value;

          if(password==confirm){
            var jsondata={
            'username': username,
            'password': password,
            'role': role,
            }

            jsondata=JSON.stringify(jsondata)

            //call the login endpoints
            callapi('POST','http://127.0.0.1:105/api/adduser',jsondata,'owner')

          }else{
            document.getElementById('userlog').innerHTML="Password do not match. Re-enter";
            document.getElementById('userlog').style.color="red"
            document.getElementById('password').value=""
            document.getElementById('confirm').value=""
          }
        }

        function addEmployee(){
          //capture the username and password
          var authenticationid=document.getElementById('authenticationid').value;
          var employeename=document.getElementById('employeename').value;
          var email=document.getElementById('email').value;
          var phonenumber=document.getElementById('phonenumber').value;
          var address=document.getElementById('address').value;
          var location=document.getElementById('location').value;
          var dob=document.getElementById('dob').value;
          var category=document.getElementById('category').value;


          var jsondata={
            'authenticationid': parseInt(authenticationid),
            'employeename': employeename,
            'email': email,
            'phonenumber': phonenumber,
            'address': address,
            'location': location,
            'dob': dob,
            'category': category
          }

          jsondata=JSON.stringify(jsondata)

          //call the login endpoints
          callapi('POST','http://127.0.0.1:105/api/addemployee',jsondata,'owner')
        }

        
        function addSupplier(){
          //capture the username and password
          var supplierauthenticationid=document.getElementById('supplierauthenticationid').value;
          var suppliername=document.getElementById('suppliername').value;
          var supplieremail=document.getElementById('supplieremail').value;
          var supplierphonenumber=document.getElementById('supplierphonenumber').value;
          var supplieraddress=document.getElementById('supplieraddress').value;
          var supplierlocation=document.getElementById('supplierlocation').value;
        


          var jsondata={
            'supplierauthenticationid': parseInt(supplierauthenticationid),
            'suppliername': suppliername,
            'supplieremail': supplieremail,
            'supplierphonenumber': supplierphonenumber,
            'supplieraddress': supplieraddress,
            'supplierlocation': supplierlocation,
          }

          jsondata=JSON.stringify(jsondata)

          //call the login endpoints
          callapi('POST','http://127.0.0.1:105/api/addsupplier',jsondata,'owner')
        }

        function addProduct(){
          //capture the username and password
          var productname=document.getElementById('productname').value;
          var description=document.getElementById('description').value;
          var category=document.getElementById('category').value;
          var retailunitprice=document.getElementById('retailunitprice').value;


          var jsondata={
            'productname': productname,
            'description': description,
            'category': category,
            'retailunitprice': retailunitprice
          }

          jsondata=JSON.stringify(jsondata)

          //call the login endpoints
          callapi('POST','http://127.0.0.1:105/api/addproduct',jsondata,'owner')
        }





  

       

    </script>

    
  </body>
</html>